<footer>
  <article>
    <h3>About us</h3>
    <ul>
      <li>Our facilities</li>
      <li>Certificates</li>
      <li>Collabs</li>
      <li>Where to find us</li>
    </ul>
  </article>
  <article>
    <h3>For clients</h3>
    <ul>
      <li>Helpdesk</li>
      <li>Posting</li>
      <li>Terms of use</li>
      <li>Conditions</li>
      <li>Legal documents</li>
      <li>Certifications</li>
    </ul>
  </article>
  <article>
    <h3>For developers</h3>
    <ul>
      <li>Contact</li>
      <li>IT desk</li>
      <li>Our API</li>
      <li>Conditions</li>
      <li>Getting started</li>
    </ul>
  </article>
  <article>
    <h3>Contact</h3>
    <ul class="contact">
      <li><i class="fa fa-phone"></i>+48 373 453 599</li>
      <li><i class="fa fa-envelope"></i>sociallyawkward@gmail.com</li>
      <li>
        <i class="fa fa-location"></i>33-43 34th Freedom Avenue, California, US
      </li>
    </ul>
    <ul class="social">
      <li><i class="fa fa-facebook"></i></li>
      <li><i class="fa fa-instagram"></i></li>
      <li><i class="fa fa-twitter"></i></li>
      <li><i class="fa fa-linkedin"></i></li>
    </ul>
  </article>
</footer>
