<main>
  <app-asidemenu
    (showLogin)="openLogIn($event)"
    (showSignup)="openSignUp($event)"
  ></app-asidemenu>
  <div class="app-content">
    <app-login
      *ngIf="showLogInBox"
      (showLogin)="openLogIn($event)"
      (showSignup)="openSignUp($event)"
    ></app-login>
    <app-signup
      *ngIf="showSignUpBox"
      (showSignup)="openSignUp($event)"
      (showLogIn)="openLogIn($event)"
    ></app-signup>
    <router-outlet></router-outlet>

    <app-footer></app-footer>
  </div>
</main>
