<div *ngIf="post" class="post-box">
  <div class="creator" (click)="navigateTo()">
    <span>{{ post.username[0].toUpperCase() }}</span>
    <div>
      <a>{{ post.username }}</a>
      <a>{{ uploadDate }}</a>
    </div>
  </div>

  <img [src]="post.base64" alt="post-image" />
  <div class="image-overlay"></div>
  <div class="post-panel">
    <span [style.display]="showMore ? 'block' : '-webkit-box'">{{
      post.description
    }}</span>
    <a (click)="expandDescription()">{{
      showMore ? "Show less" : "Show more"
    }}</a>

    <ul>
      <button (click)="likePost()" [disabled]="isMine">
        <i
          [style.color]="
            !currentUserS.currentUser.value
              ? 'rgb(100,100,100)'
              : isLiked
              ? 'red'
              : isMine
              ? 'rgb(100,100,100)'
              : 'rgb(218, 218, 218)'
          "
          [ngClass]="!isLiked ? 'far fa-heart' : 'fa fa-heart'"
        ></i
        >{{ post.likes }}
      </button>
      <button
        [disabled]="!currentUserS.currentUser.value"
        (click)="openComments(true)"
      >
        <i class="far fa-message"></i>{{ commentQuantity }}
      </button>
    </ul>
  </div>

  <app-comments
    [post]="post"
    *ngIf="showComments"
    (numOfComments)="updateCommentQuantity($event)"
    (showComments)="openComments(false)"
  ></app-comments>
</div>
