<div *ngIf="post" class="post-box">
  <div class="creator" (click)="navigateTo()">
    <span>{{ post.username[0].toUpperCase() }}</span>
    <div>
      <a>{{ post.username }}</a>
      <a>{{ post.email }}</a>
    </div>
  </div>

  <img [src]="post.base64" />
  <div class="post-panel">
    <span [style.display]="showMore ? 'block' : '-webkit-box'">{{
      post.description
    }}</span>
    <a (click)="expandDescription()">{{
      showMore ? "Show less" : "Show more"
    }}</a>

    <ul>
      <button (click)="likePost()" [disabled]="isMine">
        <i
          [style.color]="
            isLiked
              ? 'red'
              : isMine
              ? ' color: rgb(192, 188, 188)'
              : 'rgb(51, 51, 51)'
          "
          [ngClass]="!isLiked ? 'far fa-heart' : 'fa fa-heart'"
        ></i
        >{{ post.likes }}
      </button>
      <button [disabled]="!currentUserS.currentUser.value">
        <i class="far fa-message"></i>{{ post.comments }}
      </button>
    </ul>
  </div>
  <!-- <button
    (click)="likePost()"
    [disabled]="isMine"
    [style.backgroundColor]="isLiked ? 'red' : 'grey'"
  >
    Like post
  </button>

  <button (click)="openComments()" [disabled]="!currentUserS.currentUser.value">
    Comment
  </button>

  <app-comments
    [post]="post"
    *ngIf="showComments"
    (numOfComments)="updateCommentQuantity($event)"
  ></app-comments> -->
</div>
