<div *ngIf="post">
  {{ post.description }}
  Likes{{ post.likes }} Comments{{ commentQuantity }}
  <img [src]="post.base64" width="100px" />
  <button
    (click)="likePost()"
    [disabled]="isMine"
    [style.backgroundColor]="isLiked ? 'red' : 'grey'"
  >
    Like post
  </button>

  <button (click)="openComments()" [disabled]="!currentUserS.currentUser.value">
    Comment
  </button>

  <app-comments
    [post]="post"
    *ngIf="showComments"
    (numOfComments)="updateCommentQuantity($event)"
  ></app-comments>
</div>
